html {
  font-size: 62.5%;
}

body {
  background-color: #0d1d25;
}

.App {
  overflow-x: hidden;
  position: relative;
  margin: auto;
  min-height: 800px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .clock {
  margin: 60px auto;
  width: 90%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #0d1d25;
  -webkit-box-shadow: 0 -25px 25px #ffffff05, inset 0 -25px 25px #ffffff05, 0 5px 25px #000000, inset 0 25px 25px #000000;
          box-shadow: 0 -25px 25px #ffffff05, inset 0 -25px 25px #ffffff05, 0 5px 25px #000000, inset 0 25px 25px #000000;
}

.App .clock .time {
  font-size: 15rem;
  color: white;
}

.App .injection {
  margin: 15px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-align: center;
  background-color: #4396ba;
  border: 2px solid #000000;
  -webkit-box-shadow: 0 10px 15px #000000;
          box-shadow: 0 10px 15px #000000;
  cursor: pointer;
  -webkit-transform: all 2s;
          transform: all 2s;
}

.App .injection .injection-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.App .injection .injection-description p {
  margin: 25px;
}

.App .injected {
  background-color: #13891c;
  -webkit-transform: all 2s;
          transform: all 2s;
}

.App .highlighted {
  background-color: #7b2b2f;
  -webkit-animation: glow 4s infinite;
          animation: glow 4s infinite;
  -webkit-transform: all 2s;
          transform: all 2s;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 10px 5px #a41920;
            box-shadow: 0 0 10px 5px #a41920;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px #a41920;
            box-shadow: 0 0 10px 10px #a41920;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 5px #a41920;
            box-shadow: 0 0 10px 5px #a41920;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 10px 5px #a41920;
            box-shadow: 0 0 10px 5px #a41920;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px #a41920;
            box-shadow: 0 0 10px 10px #a41920;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 5px #a41920;
            box-shadow: 0 0 10px 5px #a41920;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .App {
    width: 90%;
  }
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 720px) {
  .App {
    width: 90%;
  }
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 540px) {
  .App {
    width: 90%;
  }
  html {
    font-size: 4px;
  }
}
/*# sourceMappingURL=styles.css.map */